/*
    Hochschul Farben Logo:
    #69B22F grün
    #006C55 dunkelgrün
    #237D87 teal
    #0CB0D7 blau
*/

/* basic sheet used for every (!) "page" */

* {
    margin: 0;
    padding: 0;
    /*transition: ease all .5s;*/
}

/* Klasse wird benutzt um Elemente zu verstecken */
.hide{
    display: none !important;
}

/* ---------------------- Scrolling ---------------------- */
/* reset overflow / scrollbar in body and html */

body, html {
    overflow: hidden;
    height: 100%;
    /* height should be 100vh
    section and columns height should be 100vh too */
}

.title {
    font-family: Rubik !important;
}


/* ------------- Transition für die Texteingabe deaktiviert, Texteingabe hat .control
aber idk ob die noch woanders verwenden werden soll 
hat nicht funktioniert, Texteingabe übernimmt trotzdem transition
TODO: tranisitions --------------------------------- */
.sm-ea {
    transition: none;
}

/* ---------------------- Padding Fix ---------------------- */
/* bulmas columns have negative margin by default, need to fix that by adding selfmade paddings
    (please dont rant just go with it ok)
    sm-t: top padding
    sm-b: bottom padding
    sm-r: right padding
    sm-l left padding */

.sm-t {
    padding-top: 1.5rem;
}
    
.sm-b {
    padding-bottom: 1.5rem;
}
    
.sm-l {
    padding-left: 1.5rem;
}
    
.sm-r {
    padding-right: 1.5rem;
}

.title {
    font-weight: 500 !important;
}




/* ---------------------- linker Abschnitt: Serverliste & Channels ---------------------- */
/* - Serverliste - */
.sm-team-icons {
    margin-bottom: 20px;
}

.sm-activated {
    background: #0ABBEF !important;
    color: white !important;
    /* shadow */
    border-radius: 290486px !important;
}

/* - Trenner zwischen Home Button und Server Buttons - */
.sm-server-separator{
    border-bottom: 3px solid #DADADA;
    margin-bottom: 20px;
    margin-left: 8px;
    width: 34px;
    border-radius: 8px;
}

/* todo: hover transition */
.sm-server-shortname {
    background: #DADADA;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}

/* - Channels - */
.sm-channels-header {
    height:  48px;
    margin-bottom: 16px;
    /*margin-right: -12px;
    padding-right: 12px; */
}

.sm-teams {
    width: auto !important;
    padding-right: 0px;
}

.sm-channel-list{
    overflow-y: scroll;
}

/* ---------------------- Main Content (!) Header (!) ---------------------- */
/* might delete later (bc of sm-channels-header */
.sm-content-header {
    height:  48px;
    margin-bottom: 16px;
}

/*
    Hochschul Farben Logo:
    #69B22F grün
    #006C55 dunkelgrün
    #237D87 teal
    #0CB0D7 blau
*/

/* start overview: news scroll
important: team, channels and members also need their own height!  
TODO: sm-content sollte keine id sein, man kann es in jedem "content" verwenden */
.sm-content {
    overflow-y: auto;
}

/*
empty content img: */
.sm-img {
    display: block;
    margin: auto;
}

/*
das äußerste columns kriegt noch, ansonsten entfernt: (klappt nur wenn dieses columns ne höhe hat :( )
xxx {
    -webkit-box-align: center;
    align-items: center;
} */



/* ----------------------------- Documents --------------------------------- */
/* Button */
/*TODO: HOVER!! */
.sm-btn {
    letter-spacing: .07em;
    text-transform: uppercase;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    border: 0px !important;
    /* unten fixiert */
    position: fixed;
    bottom: 30px;
}





/* ----------------------------- Chat --------------------------------- */
.sm-date {
    position:relative;
    text-align:center;
    margin-bottom: 24px;
}
    
.sm-date span {
    display:inline-block;
    padding:0 10px;
    background:#fff;
}

.sm-date:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:50%;
    height:1px;
    background:#ccc;
}


.fixed_header table{
    display:block;
}

.fixed_header tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
}

.fixed_header th{
    width:20%;
}

.fixed_header td{
    width:20%;
}

.fixed_header tr{
    width:100%;
    display:block;
}
  
.fixed_header thead tr{
    display:block;
}


/* --------- Icon Fix ----------*/

.icon {
    margin-right: 8px;
}



/* --------- Button Fix -------------- */
.menu-list a {
    border-radius: 290486px;
}

