/*
    Hochschul Farben Logo:
    #69B22F grün
    #006C55 dunkelgrün
    #237D87 teal
    #0CB0D7 blau
*/

/* start overview: news scroll
important: team, channels and members also need their own height!  */
#sm-content {
    overflow-y: auto;
}

.sm-team-icons {
    margin-bottom: 16px;
}

.sm-activated {
    color: #9b9b9b;
}

/* TODO @CARO HEHE Hello das hier definiert die Server Abkürzungen auf der linken Seite. Kannst du noch ändern (pls fancy machen :))))*/
.sm-server-shortname {
    font-size: 22px;
    width: 54px;
    display: inline-block;
}
/* Klasse kann raus 
.sm-server-shortname-container {
    background-color: red;
    border:2px solid black;
    border-radius: 7px;
    margin-left: 10px;
}

/* Trenner zwischen Home Button und Server Buttons */
.sm-server-separator{
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 16px;
    margin-left: 10px;
    width: 44px;
}

/* kinda sucks please ignore
.sm-team-icons-activated::before {
    content: " ";
    margin-left: -70px;
    position: absolute;
    width: 40px;
    border-radius: 20px;
    height: 33px;
    /* transition: height .25s ease-in-out,margin-top .25s ease-in-out; 
    background: #69B22F;
} */
    margin-left: 10px; 
} */
