/*
    Hochschul Farben Logo:
    #69B22F grün
    #006C55 dunkelgrün
    #237D87 teal
    #0CB0D7 blau
*/

* {
    margin: 0;
    padding: 0;
}

.sm-teams {
    width: auto !important;
}

.sm-channels-header {
    height:  48px;
    border-bottom:  1px solid #a0a0a0;
    margin-bottom: 16px;
    /*margin-right: -12px;
    padding-right: 12px; */
}

/* might delete later (bc of sm-channels-header) */
.sm-content-header {
    height:  48px;
    border-bottom:  1px solid #a0a0a0;
    margin-bottom: 16px;
}

.sm-team-icons {
    margin-bottom: 20px;
}

.sm-activated {
    color: #9b9b9b;
}

/* TODO @CARO HEHE Hello das hier definiert die Server Abkürzungen auf der linken Seite. Kannst du noch ändern (pls fancy machen :))))*/
.sm-server-shortname {
    font-size: 22px;
    width: 54px;
    display: inline-block;
}
.sm-server-shortname-container {
    background-color: lightcyan;
    border:2px solid black;
    border-radius: 7px;
    margin-left: 10px;
}

/* kinda sucks please ignore
.sm-team-icons-activated::before {
    content: " ";
    margin-left: -70px;
    position: absolute;
    width: 40px;
    border-radius: 20px;
    height: 33px;
    /* transition: height .25s ease-in-out,margin-top .25s ease-in-out; 
    background: #69B22F;
} */
