/*
    Hochschul Farben Logo:
    #69B22F grün
    #006C55 dunkelgrün
    #237D87 teal
    #0CB0D7 blau
*/

* {
    margin: 0;
    padding: 0;
}

.sm-teams-header {
    height:  48px;
    border-bottom:  1px solid #a0a0a0;
    margin-bottom: 16px;
    /*margin-right: -12px;
    padding-right: 12px; */
}

.sm-content-header {
    height:  48px;
    border-bottom:  1px solid #a0a0a0;
    margin-bottom: 16px;
}

.sm-team-icons {
    margin-bottom: 20px;
}

.sm-team-icons-activated {
    margin-bottom: 20px;
    color: #9b9b9b;
}

.sm-team-icons-activated::before {
    content: " ";
    margin-left: -70px;
    position: absolute;
    width: 40px;
    border-radius: 20px;
    height: 33px;
    /* transition: height .25s ease-in-out,margin-top .25s ease-in-out; */
    background: #69B22F;
}

.sm-teams {
    width: 4.5% !important;
}